.nav-bar {
  padding: 18px;
  display: flex;
  justify-content: center;
  border-bottom: 0.2px solid lightgray;
}

.bookstore-title {
  font-weight: 700;
  color: #0290ff;
  align-self: center;
  flex: 2;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

.nav-name,
.cat-name {
  font-size: 14px;
  color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  font-family: "Montserrat", sans-serif;
}

.cat-name {
  color: #999;
}

.profile-name {
  flex: 5;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.border-section {
  width: 40px;
  height: 40px;
  border: 1px solid lightgray;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0290ff;
}

.categories-filter {
  padding: 30px 90px;
  display: flex;
}

.span-section {
  font-size: 20px;
  letter-spacing: -0.18px;
  color: #888;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.select-section {
  border-radius: 5px;
  height: 40px;
  width: 285px;
  background-color: #fff;
  font-size: 16px;
  letter-spacing: -0.15px;
  outline: none;
  padding: 0 10px;
}
